*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: white;
}



.conteiner{
    width: 60%;
    height: 700px;
    margin: 0 auto;
    top: 20px;
    left: 250px;
}
/*Riga in alto*/
.row{
    width: 100%;
    height: 50%;
    position: relative;
}



.top-left, .bottom-left{
    position: absolute;
    left: 70px;
}

.top-center, .bottom-center{
    position: absolute;
    left: 280px;
}

.top-right, .bottom-right{
    position: absolute;
    left: 490px;
}



/*Celle riga in alto e in basso*/


.cella{
    width: 200px;
    height: 300px;
    position: relative;
}

.scatola-cuore{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    width: 40px;
    height: 40px;
}
.cuore{
    position: absolute;
    top: 7px;
    right: 7px;
}

.sconto{
    position: absolute;
    bottom: 10px;
    background-color: red;
    width: 40px;
    height: 30px;
}

.sconto-text .sostenibilita{
    text-align: center;
    
}
.sostenibilita{
    position: absolute;
    bottom: 10px;
    left: 45px;
    background-color: green;
    width: 100px;
    height: 30px;
}

/*Riga in alto*/

/*Sinistra*/
.top-left{
    position: absolute;
    top: 10px;
    background-image: url("../img/1.webp");
    background-size: cover;
}

.top-left:hover{
    background-image: url("../img/1b.webp");
    background-size: cover;
}
/*Fine Sinistra*/

/*Centro*/
.top-center{
    position: absolute;
    top: 10px;
    background-image: url("../img/2.webp");
    background-size: cover;
}

.top-center:hover{
    background-image: url("../img/2b.webp");
    background-size: cover;
}
/*Fine centro*/


/*Destra*/

.top-right{
    position: absolute;
    top: 10px;
    background-image: url("../img/3.jpg");
    background-size: cover;
}
/*Fine destra*/

/*Fine riga in alto*/


/*Riga in basso*/
/*Celle riga in basso*/
.bottom-left, .bottom-center, .bottom-right{
    position: absolute;
    top: 30px;
}

/*Cella in basso a sinistra*/
.bottom-left{
    background-image: url("../img/4.webp");
    background-size: cover;
}

.bottom-left:hover{
    background-image: url("../img/4b.webp");
    background-size: cover;
}
/*Fine cella in basso a sinistra*/

/*Cella in basso al centro*/
.bottom-center{
    background-image: url("../img/5.webp");
    background-size: cover;
}
.bottom-center:hover{
    background-image: url("../img/5b.webp");
    background-size: cover;
}
/*Fine cella in basso al centro*/

/*Cella in basso a destra*/
.bottom-right{
    background-image: url("../img/6.webp");
    background-size: cover;
}

.bottom-right:hover{
    background-image: url("../img/6b.webp");
    background-size: cover;
}

/*Fine cella in basso a destra*/

/*Fine cella riga in basso*/