*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: white;
}



.conteiner{
    width: 60%;
    height: 750px;
    margin: 0 auto;
    top: 20px;
    left: 250px;
}
/*Riga in alto*/
.row{
    width: 100%;
    height: 50%;
    position: relative;
}






.top-left, .bottom-left{
    position: absolute;
    left: 70px;
}

.top-center, .bottom-center{
    position: absolute;
    left: 280px;
}

.top-right, .bottom-right{
    position: absolute;
    left: 490px;
}



/*Celle riga in alto e in basso*/


.cella{
    width: 200px;
    height: 300px;
    position: relative;
}

.scatola-cuore{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    width: 40px;
    height: 40px;
}
.cuore{
    position: absolute;
    top: 7px;
    right: 7px;
}

.sconto{
    position: absolute;
    bottom: 10px;
    background-color: red;
    width: 40px;
    height: 30px;
}

.sconto-text .sostenibilita{
    text-align: center;
    
}
.sostenibilita{
    position: absolute;
    bottom: 10px;
    left: 45px;
    background-color: green;
    width: 100px;
    height: 30px;
}

/*Riga in alto*/

/*Sinistra*/
.top-left{
    position: absolute;
    top: 10px;
    background-image: url("../img/1.webp");
    background-size: cover;
}

.top-left:hover{
    background-image: url("../img/1b.webp");
    background-size: cover;
}
.marca{
    font-size: 12px;
    position: absolute;
    bottom: 40px;
    left: 70px;
}
.titolo{
    position: absolute;
    bottom: 20px;
    left: 70px;
    font-weight: 900;
    font-size: 13px;
}

.price-red{
    position: absolute;
    bottom: 5px;
    left: 70px;
    color: red;
    font-size: 10px;
}

.price-overline{
    position: absolute;
    bottom: 5px;
    left: 102px;
    font-size: 10px;
    text-decoration: line-through;
}

/*Fine Sinistra*/

/*Riga in alto-Centro*/
.top-center{
    position: absolute;
    top: 10px;
    background-image: url("../img/2.webp");
    background-size: cover;
}

.top-center:hover{
    background-image: url("../img/2b.webp");
    background-size: cover;
}

.marca-centro{
    font-size: 12px;
    position: absolute;
    bottom: 40px;
    left: 280px;
}
.titolo-centro{
    position: absolute;
    bottom: 20px;
    left: 280px;
    font-weight: 900;
    font-size: 13px;
}

.price-red-centro{
    position: absolute;
    bottom: 5px;
    left: 280px;
    color: red;
    font-size: 10px;
}

.price-overline-centro{
    position: absolute;
    bottom: 5px;
    left: 310px;
    font-size: 10px;
    text-decoration: line-through;
}


/*Fine riga alto-centro*/


/*Destra*/

.top-right{
    position: absolute;
    top: 10px;
    background-image: url("../img/3.jpg");
    background-size: cover;
}
.marca-top-destra{
    font-size: 12px;
    position: absolute;
    bottom: 40px;
    left: 490px;
}
.titolo-top-destra{
    position: absolute;
    bottom: 20px;
    left: 490px;
    font-weight: 900;
    font-size: 13px;
}

.price, .red-top-destra{
    position: absolute;
    bottom: 5px;
    left: 490px;
    color: red;
    font-size: 10px;
}

.price-overline-top-destra{
    position: absolute;
    bottom: 5px;
    left: 520px;
    font-size: 10px;
    text-decoration: line-through;
}

/*Fine destra*/

/*Fine riga in alto*/


/*Riga in basso*/
/*Celle riga in basso*/
.bottom-left, .bottom-center, .bottom-right{
    position: absolute;
    top: 30px;
}

/*Cella in basso a sinistra*/
.bottom-left{
    background-image: url("../img/4.webp");
    background-size: cover;
}

.bottom-left:hover{
    background-image: url("../img/4b.webp");
    background-size: cover;
}

.marca-bottom-left{
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 70px;
}
.titolo-bottom-left{
    position: absolute;
    bottom: 10px;
    left: 70px;
    font-weight: 900;
    font-size: 13px;
}

.price-bottom-left{
    position: absolute;
    bottom: 0px;
    left: 70px;
    color: red;
    font-size: 10px;
}

.price-overline-bottom-left{
    position: absolute;
    bottom: 0px;
    left: 100px;
    font-size: 10px;
    text-decoration: line-through;
}


/*Fine cella in basso a sinistra*/

/*Cella in basso al centro*/
.bottom-center{
    background-image: url("../img/5.webp");
    background-size: cover;
}
.bottom-center:hover{
    background-image: url("../img/5b.webp");
    background-size: cover;
}
/*Fine cella in basso al centro*/

/*Cella in basso a destra*/
.bottom-right{
    background-image: url("../img/6.webp");
    background-size: cover;
}

.bottom-right:hover{
    background-image: url("../img/6b.webp");
    background-size: cover;
}

/*Fine cella in basso a destra*/

/*Fine cella riga in basso*/

